<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <!-- main js file -->
    <script defer src="/javascripts/main.js"></script>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <title>Resume</title>
  </head>
  <body id="resume">
    <embed
      src="https://resume-isaiah.s3.amazonaws.com/IsaiahChirairaCV.40.pdf"
      width="100%"
      height="800"
    />
  </body>
</html>
